<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename= 'styles.css') }} />
    </head>
    
    <h1 id="artist">
        {{ artist }}
    </h1>
    
    <body>
    </body>
    
    <ul class='container' style="list-style-type:none;">
        {%for key, value in songs.items()%}
        <li class='box'>
            <ul style="list-style-type:none;">
                <div class="song_img_container">
                    <img src={{value[1]}} style="width:180px;height180px" class="song_img"/>
                
                    <div class="middle">
                        <div class="text"><a href='{{value[3]}}'>Lyrics</a></div>
                    </div>
                </div>
                <div class="song_title">
                    <li>{{key}}</li>
                </div>
                <li>
                    <audio controls>
                        <source src={{value[2]}}>
                    </audio>
                </li>
                <li>
                    
                </li>
            </ul>
        </li>
        
        {%endfor%}
    </ul>
</html>